@model FrotaPim.Web.Models.ViewsModels.PessoaViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row header">
    <div class="col-md-12">
        <h2>@ViewData["Title"]</h2>
        
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Criar" asp-controller="Pessoa" method="post" asp-anti-forgery>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label">Nome</label>
                <input asp-for="Nome" class="form-control" name="Nome" required/>
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CPF" class="control-label">CPF</label>
                <input oninput="mascara(this)" type="text" asp-for="CPF" class="form-control" name="CPF" required/>
                <span asp-validation-for="CPF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Admissao" class="control-label">Admissao</label>
                <input type="date" placeholder="dd/mm/aaaa" asp-for="Admissao" class="form-control" name="Admissao" required/>
                <span asp-validation-for="Admissao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefone" class="control-label">Telefone</label>
                <input asp-for="Telefone" class="form-control" name="Telefone" required/>
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Cargo</label>
                <div>
                    @Html.DropDownList("CargoId", new SelectList(@Model.Cargos, "CargoId", "Nome", "0"), new { @class = "form-control" })
                </div>
            </div>
            <p><b>Adicione o Endereço do Colaborador</b></p>
            <div class="form-group">
                <label asp-for="@Model.Endereco.Rua" class="control-label">Rua</label>
                @Html.TextBoxFor(m => m.Endereco.Rua, new{@class = "form-control"})
                <span asp-validation-for="Rua" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Endereco.Numero" class="control-label">Número</label>
                @Html.TextBoxFor(m => m.Endereco.Numero, new{@class = "form-control"})
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Endereco.Bairro" class="control-label">Bairro</label>
                @Html.TextBoxFor(m => m.Endereco.Bairro, new{@class = "form-control"})
                <span asp-validation-for="Bairro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Endereco.CEP" class="control-label">CEP</label>
                @Html.TextBoxFor(m => m.Endereco.CEP, new{@class = "form-control"})
                <span asp-validation-for="CEP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Endereco.Cidade" class="control-label">Cidade</label>
                @Html.TextBoxFor(m => m.Endereco.Cidade, new{@class = "form-control"})
                <span asp-validation-for="Cidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Endereco.Estado" class="control-label">UF</label>
                @Html.TextBoxFor(m => m.Endereco.Estado, new{@class = "form-control"})
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success btn-sm" />
                <a href="/Pessoa" class="btn btn-secondary btn-sm">Voltar</a>
            </div>
        </form>
    </div>
</div>


