@model IEnumerable<FrotaPim.Web.Models.ViewsModels.CargoViewModel>

@{
    ViewData["Title"] = "Cargos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body class="">
<div>
    <hr />
    <td>
        <a href="/Carro" class="btn btn-secondary btn-sm">Carros</a>
    </td>
    <td> <b>|</b> </td>
    <td>
        <a href="/ContasAPagar" class="btn btn-secondary btn-sm">Contas a Pagar</a>
    </td>
    <td> <b>|</b> </td>    
    <td>
        <a href="/Endereco" class="btn btn-secondary btn-sm">Endereços</a>
    </td>
    <td> <b>|</b> </td>
    <td>
        <a href="/Estoque" class="btn btn-secondary btn-sm">Estoque</a>
    </td>
    <td> <b>|</b> </td>
    <td>
        <a href="/Manutencao" class="btn btn-secondary btn-sm">Manutenções</a>
    </td>
    <td> <b>|</b> </td>
    <td>
        <a href="/Multa" class="btn btn-secondary btn-sm">Multas</a>
    </td>
    <td> <b>|</b> </td>
    <td>
        <a href="/Pessoa" class="btn btn-secondary btn-sm">Funcionários</a>
    </td>
    <td> <b>|</b> </td>
    <td>
        <a href="/Seguro" class="btn btn-secondary btn-sm">Seguro</a>
    </td>
    <td> <b>|</b> </td>
    <td>
        <a href="/Viagem" class="btn btn-secondary btn-sm">Viagens</a>
    </td>
<hr/>
</div>
<h1>@ViewData["Title"]</h1>

<p>
    <a href="/Cargo/Criar" class="btn btn-primary btn-sm"><i class="fas fa-plus mx-2"></i>Criar novo cargo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Descrição
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    <a href="/Cargo/Editar/@item.CargoId" class="btn btn-primary btn-sm"><i class="fa fa-edit mx-2"></i>Editar</a> |
                    <a href="/Cargo/Detalhes/@item.CargoId" class="btn btn-primary btn-sm">Detalhes</a> |
                    <a href="#deleteModal" class="deleteItem btn btn-danger btn-sm" data-toggle="modal" data-name="@item.Nome" code="@item.CargoId"><i class="fas fa-trash mx-2" data-toggle="tooltip" title="Delete"></i>Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="deleteModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Deletar</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p>Tem certeza que deseja deletar o cargo <b class="data-name bold"></b>?</p>
                <p class="text-warning">Está ação não tem volta!</p>
            </div>
            <div class="modal-footer">
                <form class="form-group" asp-controller="Cargo" asp-action="Delete" method="delete">
                    <div class="form-actions no-color">
                        <button id="btnContinueDelete" type="submit" class="btn btn-danger btn-sm">Apagar</button>
                        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>