@model FrotaPim.Web.Models.ViewsModels.MultaViewModel

@{
    ViewData["Title"] = "Adicionar Multa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row header">
    <div class="col-md-12">
        <h2>@ViewData["Title"]</h2>
        <a href="/Multa" class="btn btn-secondary btn-sm">Voltar</a>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Criar" asp-controller="Multa" method="post" asp-anti-forgery>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Gravidade" class="control-label">Gravidade</label>
                <input asp-for="Gravidade" class="form-control" name="Gravidade"/>
                <span asp-validation-for="Gravidade" class="text-danger"></span>
            </div>
           <div class="form-group">
                <label asp-for="TipoMulta" class="control-label">Tipo de Multa</label>
                <input type="TipoMulta" asp-for="TipoMulta" class="form-control" name="TipoMulta"/>
                <span asp-validation-for="ValorMulta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataMulta" class="control-label">Data da Multa</label>
                <input type="date" type="date" asp-for="DataMulta" class="form-control" name="DataMulta"/>
                <span asp-validation-for="DataMulta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorMulta" class="control-label">Valor da Multa</label>
                <input size="10" maxlength="10" onkeydown="FormataMoeda(this,10,event)" onkeypress="return maskKeyPress(event)" placeholder="R$" asp-for="ValorMulta" class="form-control" name="ValorMulta"/>
                <span asp-validation-for="ValorMulta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Pessoa</label>
                <div>
                    @Html.DropDownList("IDPessoa", new SelectList(@Model.Pessoas, "IDPessoa", "Nome", "0"), new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Veículo</label>
                <div>
                    @Html.DropDownList("IDCarro", new SelectList(@Model.Carros, "IDCarro", "Placa", "0"), new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-success btn-sm" />
            </div>
        </form>
    </div>
</div>

