@model FrotaPim.Web.Models.ViewsModels.MultaViewModel

@{
    ViewData["Title"] = "Detalhes da multa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NomePessoa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomePessoa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Placa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Placa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gravidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gravidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoMulta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoMulta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataMulta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataMulta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ValorMulta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ValorMulta)
        </dd>
    </dl>
</div>
<div>
    <a href="../Editar/@Model.Id" class="btn btn-primary btn-sm"><i class="fa fa-edit mx-2"></i>Editar</a> |
    <a href="../Index" class="btn btn-secondary btn-sm">Voltar</a>
</div>
