@model FrotaPim.Web.Models.ViewsModels.MultaViewModel

@{
    ViewData["Title"] = "Editar Multa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewData["Title"]</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Editar" asp-controller="Multa" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Gravidade" class="control-label"><b>Gravidade</b></label>
                <input asp-for="Gravidade" class="form-control" name="Gravidade" value="@Model.Gravidade"/>
                <span asp-validation-for="Gravidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoMulta" class="control-label"><b>Tipo de Multa</b></label>
                <input asp-for="GraviTipoMultadade" class="form-control" name="TipoMulta" value="@Model.TipoMulta"/>
                <span asp-validation-for="Gravidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataMulta" class="control-label"><b>Data da Multa</b></label>
                <input placeholder="dd/mm/aaaa" asp-for="DataMulta" class="form-control" name="DataMulta" value="@Model.DataMulta"/>
                <span asp-validation-for="DataMulta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorMulta" class="control-label"><b>Valor da Multa</b></label>
                <input asp-for="ValorMulta" class="form-control" name="ValorMulta" value="@Model.ValorMulta"/>
                <span asp-validation-for="ValorMulta" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label class="control-label"><b>Pessoa</b></label>
                <div>
                     @Html.DropDownList("IDPessoa", new SelectList(@Model.Pessoas, "IDPessoa", "Nome", "0"), new {@class="form-control"})
                </div>
            </div>
            <div class="form-group">
                <label class="control-label"><b>Veículo</b></label>
                <div>
                     @Html.DropDownList("IDCarro", new SelectList(@Model.Carros, "IDCarro", "Placa", "0"), new {@class="form-control"})
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary btn-sm" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="../Editar/@Model.Id" class="btn btn-primary btn-sm">Editar</a> |
    <a href="../Index" class="btn btn-secondary btn-sm">Voltar</a>
</div>


