@model IEnumerable<FrotaPim.Web.Models.ViewsModels.ViagemViewModel>

@{
    ViewData["Title"] = "Viagens";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <hr />
    <td>
        <a href="/Cargo" class="btn btn-secondary btn-sm">Cargos</a>
    </td>
    <td> <b>|</b> </td> 
    <td>
        <a href="/Carro" class="btn btn-secondary btn-sm">Carros</a>
    </td>
    <td> <b>|</b> </td>
    <td>
        <a href="/ContasAPagar" class="btn btn-secondary btn-sm">Contas a Pagar</a>
    </td>
    <td> <b>|</b> </td>    
    <td>
        <a href="/Endereco" class="btn btn-secondary btn-sm">Endereço</a>
    </td>
    <td> <b>|</b> </td>
    <td>
        <a href="/Estoque" class="btn btn-secondary btn-sm">Estoque</a>
    </td>
    <td> <b>|</b> </td>
    <td>
        <a href="/Manutencao" class="btn btn-secondary btn-sm">Manutenções</a>
    </td>
    <td> <b>|</b> </td>
    <td>
        <a href="/Multa" class="btn btn-secondary btn-sm">Multas</a>
    </td>
    <td> <b>|</b> </td>
    <td>
        <a href="/Pessoa" class="btn btn-secondary btn-sm">Funcionários</a>
    </td>
    <td> <b>|</b> </td>
    <td>
        <a href="/Seguro" class="btn btn-secondary btn-sm">Seguros</a>
    </td>
<hr/>
</div>
<h2>@ViewData["Title"]</h2>

<p>
    <a href="/Viagem/Criar" class="btn btn-primary btn-sm"><i class="fas fa-plus mx-2"></i>Adicionar Viagem</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Origem
            </th>
            <th>
                Destino
            </th>
            <th>
                KM's
            </th>
            <th>
                Custo da Viagem
            </th>
            <th>
                Carro
            </th>
            <th>
                Motorista
            </th>            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Origem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Placa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomePessoa)
            </td>
            <td>
                <a href="/Viagem/Editar/@item.Id" class="btn btn-primary btn-sm"><i class="fa fa-edit mx-2"></i>Editar</a> |
                <a href="/Viagem/Detalhes/@item.Id" class="btn btn-primary btn-sm"><i class="fas fa-info mx-2"></i>Detalhes</a> |
                <a href="#deleteModal" class="deleteItem btn btn-danger btn-sm" data-toggle="modal" data-name="@item.Origem - @item.Destino" code="@item.Id"><i class="fas fa-trash mx-2" data-toggle="tooltip" title="Delete"></i>Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div id="deleteModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Deletar</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p>Tem certeza que deseja deletar a Viagem <b class="data-name bold"></b>?</p>
                <p class="text-warning">Está ação não tem volta!</p>
            </div>
            <div class="modal-footer">
                <form class="form-group" asp-controller="Viagem" asp-action="Delete" method="delete">
                    <div class="form-actions no-color">
                        <button id="btnContinueDelete" type="submit" class="btn btn-danger btn-sm">Apagar</button>
                        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>