@model FrotaPim.Web.Models.ViewsModels.ContasAPagarViewModel

@{
    ViewData["Title"] = "Detalhes da Despesa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>@ViewData["Title"]</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CentroDeCusto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CentroDeCusto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoDespesa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoDespesa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vencimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vencimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
    </dl>
</div>
<div>
    <a href="../Editar/@Model.IdConta" class="btn btn-primary btn-sm">Editar</a> |
    <a href="../Index" class="btn btn-secondary btn-sm">Voltar</a>
</div>
